/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #ff8dcb;
  --accent-color-hover: rgba(50, 49, 45, 0.4);
  --background-color: #fff1f7;
  --background-img: url(../images/cover-image-light.png);
  --text-color: #353430;
  --text-pink-color: #ffc2e6;
  --text-dark-color: var(--text-color);
  --text-accent-color: var(--text-color);
  
  .header__decorated-rec::before, 
  .header__decorated-rec::after {
    display: none;
  }

  .decorated-zone::before,
  .decorated-zone::after,
  .header__theme-menu-button_active,
  .header__theme-menu-button:focus-visible {
    --accent-color: var(--text-color);
  }

  .concentration__title {
    color: var(--text-color);
  }

  .section-title,
  .header__theme-menu-list {
    color: var(--text-color);
  }
}


@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --accent-color-hover: rgba(50, 49, 45, 0.4);
    --background-color: #fff1f7;
    --background-img: url(../images/cover-image-light.png);
    --text-color: #353430;
    --text-pink-color: #ffc2e6;
    --text-dark-color: var(--text-color);
    --text-accent-color: var(--text-color);
  }

  .page:not(.theme_dark) .header__decorated-rec::before, 
  .page:not(.theme_dark) .header__decorated-rec::after {
    display: none;
  }

  .page:not(.theme_dark) .decorated-zone::before,
  .page:not(.theme_dark) .decorated-zone::after,
  .page:not(.theme_dark) .header__theme-menu-button_active,
  .page:not(.theme_dark) .header__theme-menu-button:focus-visible {
    --accent-color: var(--text-color);
  }

  .page:not(.theme_dark) .concentration__title {
    color: var(--text-color);
  }

  .page:not(.theme_dark) .section-title,
  .page:not(.theme_dark) .header__theme-menu-list {
    color: var(--text-color);
  }
}

@media (width > 768px) {
  .header__title,
  .footer__title {
    --accent-color: #ff0070;
  }
}