/* Основные стили проекта. */

.page {
  color: var(--text-color);
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: var(--line-height);
  background-color: var(--background-color);
  background-image: var(--background-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--page-padding);
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--page-padding);
  right: var(--page-padding);
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inline-size: 25px;
  aspect-ratio: 1/1;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--page-padding);
  left: var(--page-padding);
  border-inline-start: 1px solid var(--accent-color);
  border-block-end:  1px solid var(--accent-color);
  inline-size: 25px;
  aspect-ratio: 1/1;
}

.header__theme-menu {
  z-index: 1;
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  color: var(--accent-color);
}

.header__theme-menu-button {
  line-height: 18px;
  text-transform: lowercase;
  min-inline-size: 70px;
  min-block-size: 26px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-hover);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__decorated-rec {
  position: absolute;
  top: 0;
  right: 0;
}

.header__decorated-rec::before {
  content: "REC";
  position: absolute;
  top: var(--page-padding);
  right: calc(var(--page-padding) + 28px);
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__decorated-rec::after {
  content: "";
  position: absolute;
  top: calc(var(--page-padding) + 8px);
  right: calc(var(--page-padding) + 9px);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  aspect-ratio: 1/1;
}

.title {
  align-self: center;
  color: var(--text-pink-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
}

.header__title {
  margin-inline-start: calc(0px - var(--page-padding));
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  color: var(--text-dark-color);
  font-weight: 700;
  word-wrap: normal;
  background-color: var(--accent-color);
}

.header__text {
  justify-self: flex-end;
  align-self: center;
  max-inline-size: 491px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
  margin: var(--content-block-margin) 0;
  padding: 0 var(--page-padding);
}

.concentration {
  display: grid;
  grid-template-columns: 315px 1fr;
  gap: var(--section-gap);
}

.concentration__title {
  font-weight: 700;
  font-size: 18px;
}

.concentration__items {
  display: grid;
  gap: var(--section-gap);
}

.concentration-item__head {
  margin-block-end: 10px;
}

.concentration-item__body:not(:last-child) {
  margin-block-end: 10px;
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.concentration_item-cols {
  grid-template-columns: repeat(3, 1fr);
}

.concentration_item-cols .concentration__box {
  grid-column: span 3;
}

.concentration_item-cols .concentration__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.concentration__subtitle {
  margin-block-end: var(--section-gap);
}

.regular-text {
  font-weight: 400;
}

.gallery__head {
  margin-block-end: var(--page-padding);
  font-weight: 700;
  font-size: 18px;
}

.gallery__grid {
  display: grid;
  grid-template-areas: 
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  gap: var(--section-gap);
  max-block-size: 1048px;
}

.gallery__img {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.gallery__img-sunset {
  grid-area: sunset;
}

.gallery__img-ice-cream {
  grid-area: ice-cream;
}

.gallery__img-tape {
  grid-area: tape;
}

.gallery__img-books {
  grid-area: books;
}

.gallery__img-street {
  grid-area: street;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (768px >= width > 668px) {
  :root {
    --block-size-footer: 1024px;
    --inline-size-column: 236px;
  }
  
  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__text {
    max-inline-size: 364px;
  }

  .concentration {
    grid-template-columns: 236px 1fr;
  }

  .concentration_item-cols .concentration__items {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (width <= 668px) {
  :root {
    --page-padding: 10px;
    --block-size-footer: 667px;
    --content-block-margin: 40px;
    --content-gap: 50px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__title {
    margin-inline-start: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__text {
    max-inline-size: 100%;
  }

  .concentration {
    grid-template-columns: 1fr;
  }

  .concentration_item-cols .concentration__items {
    display: grid;
    grid-template-columns: 1fr;
  }

  .gallery__grid {
    --section-gap: 10px;
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);
    max-block-size: none;
  }
}